.custom_navbar{
    background-color: #270F37;
}

.custom_navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.custom_navbar li {
    display: inline;
}


.custom_navbar a{
    padding: 0px 25px 0px 25px;
    color: white;
    font-size: 35px;
    text-align:center;
    text-decoration: none;
}

.site_name{
    text-align: center;
}

.site_name h1{
    color: white;
    padding-top: 25px;
    font-size: 70px;
}

.custom_navbar a:hover{
    color: white;
    background-color: #25274D !important;
    text-decoration: none;
}