@import url('https://fonts.googleapis.com/css?family=Teko');

body,html{
    height: 100%;
    font-family: 'Teko', sans-serif !important;
    background-color: #25274D !important;
    scroll-behavior: smooth;
}

p{
    color:white;
}


h1{
    color: white;
    text-align: center;
}


#avengers_plot{
    padding: 20px 0px 0px 100px;
}

.movie{
    padding: 0px 0px 50px 50px;
}


#movie_desc{
    color: #29648a;
    padding: 0px 25px 0px 25px;
    text-align: justify;
}


.about_images{
    width: 20%;
    height: auto;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.list_alignment{
    color: white; 
    list-style-position: inside; 
    text-align: justify;
}

