<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src = "../js/topButton.js"></script>

    <title>Avengers: Infinity War</title>
</head>
<body>
    <div class = "parallax" style = "background-image: url(../images/avengers/main_image.jpg);">
        <h2 class = "display-2 text-center text-light" style = "padding-top:300px">Avengers: Infinity War</h2>
    </div class = "bg-dark">

    <div style = "padding-bottom: 100px" class = "bg-light">
       <p>An unprecedented cinematic journey ten years in the making and spanning the entire Marvel Cinematic Universe, 
           Marvel Studios' "Avengers: Infinity War" brings to the screen the ultimate, deadliest showdown of all time. 
           The Avengers and their Super Hero allies must be willing to sacrifice all in an attempt to defeat the powerful Thanos before his blitz of devastation 
           and ruin puts an end to the universe.</p>

        <h3 class = "display-3 text-center text-muted" style = "padding-top: 100px">8.5/10 IMDb rating</h3>

    </div>

    <div class = "bg-light">
        <p style = "padding: 100px 0px 0px 100px">The film is directed by Joe and Anthony Russo who are known for 
            <span class = "text-muted display-4 font-italic"> Captain America: Winter Soldier  </span>
            and <span class = "text-muted display-4 font-italic">Captain America: Civil War</span></p>
        <img src="../images/avengers/directors.jpg" class = "rounded mx-auto d-block" style = "padding-bottom: 10px" alt="nqma gi neshto">
    </div>

    <div class = "parallax" style = "background-image: url(../images/avengers/thanos.jpg);"></div>
    
    <div class = "top_button">
        <button class = "btn btn-dark" onclick = "backToTop()">Back To Top</button>
    </div>
</body>
</html>