<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src = "../js/topButton.js"></script>

    <title>Mad Max</title>
</head>
<body>
    <div class = "parallax" style = "background-image: url(../images/mad_max/main.jpg);">
        <h2 class = "display-2 text-center text-light" style = "padding-top:300px">Mad Max: Fury Road</h2>
    </div>

    <div style = "padding-bottom: 100px;  text-align:center;">
       <p style = "font-size: 45px; padding: 25px 25px 0px 25px;">Filmmaker George Miller gears up for another post-apocalyptic action adventure with Fury Road, 
        the fourth outing in the Mad Max film series. Charlize Theron stars alongside Tom Hardy (Bronson), with Zoe Kravitz, Adelaide Clemens, and Rosie Huntington Whiteley 
        heading up the supporting cast.</p>

        <h3 class = "display-3" style = "padding-top: 100px; color: white;"><span style = "color: orange;">8.1</span>/10 IMDb rating</h3>

    </div>

    <div style = "text-align:center;">
        <p style = "padding: 25px 25px 0px 25px; font-size: 45px;">The film is directed by George Miller who is known for 
            <span style = "color: orange;">The Road Warrior</span> and <span style = "color: orange;">Mad Max</span>
        <img src="../images/mad_max/george.jpg" class = "rounded mx-auto d-block" style = "padding-bottom: 10px">
    </div>

    <div class = "parallax" style = "background-image: url(../images/mad_max/main_2.jpg);"></div>
    
    <div style = "text-align:center;">
        <p style = "padding: 25px 25px 0px 25px; font-size: 45px;">Mad Max: Fury Road trailer</p>
    </div>  

    <iframe style = "margin: 25px auto; display: block;" width="560" height="315" src="https://www.youtube.com/embed/hEJnMQG9ev8" 
    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <div class = "top_button">
        <button class = "btn" id = "custom_btn" onclick = "backToTop()">Back To Top</button>
    </div>
</body>
</html>